<section class="bg-dark text-light p-5 text-center d-flex justify-content-center">
  <div class="carousel slide justify-content-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/carousel/produce.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./images/carousel/dairy-section.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./images/carousel/meat-section.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./images/carousel/toilet-paper.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
</section>
