<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
    <a href="#" class="navbar-brand">One Stop Shop</a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
            <form class="d-flex">
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
                Search
            </button>
            <button id="logout" class="btn btn-outline-success" type="submit">Logout
            </button>
            </form>
        </li>
        <li class="nav-item">
            <a href="#account" class="nav-link">Account</a>
        </li>
        <li class="nav-item">
            <a href="#cart" class="nav-link"
            >Cart <span><i class="bi bi-cart4"></i></span
            ></a>
        </li>
        </ul>
    </div>
    </div>
</nav>
