<ul class="nav justify-content-center bg-dark">
      <li class="nav-item">
        <a class="nav-link" href="/produce">Produce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./dairy">Dairy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= "./meat">Meat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./pantry">Pantry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./essentials">Essentials</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Sort</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" id="sortAlphabet">Sort By Name (A-Z)</a></li>
          <li><a class="dropdown-item" id="sortReverseAlphabet">Sort By Name (Z-A)</a></li>
          <li><a class="dropdown-item" id="sortPriceHighLow">Sort By Price (High to Low)</a></li>
          <li><a class="dropdown-item" id="sortPriceLowHigh">Sort By Price (Low to High)</a></li>
        </ul>
      </li>
</ul>
