    {{!-- {{#if loggedIn}} --}}
    {{> navbar}}
    {{> carousel}}
    {{> produce}}
          <div class="card-list" id ="card-list">
            {{> product-card}}
          </div>
        {{!-- {{/if}} --}}