{{>product-info product}}

{{#if loggedIn}}
<div class="quantity-buttons">
  <div class="button">
    <button type="button" class="minus-button" data-quantity="minus" data-field="quantity">
      <i class="minus" aria-hidden="true"></i>
    </button>
  </div>
  <input class="quantity-input" type="number" name="quantity" value="0">
  <div class="button">
    <button type="button" class="plus-button" data-quantity="plus" data-field="quantity">
      <i class="plus" aria-hidden="true"></i>
    </button>
  </div>
</div>

<script src="../public/javascript/cart.js"></script>
{{/if}}